.vscode
file_check_oop.py
sandbox.ipynb
tests
tests/file_checker_test_folders/compare_test_altered_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Counts.txt
tests/file_checker_test_folders/compare_test_altered_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Percentages.txt
tests/file_checker_test_folders/compare_test_altered_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_quality_scores_plot_1.txt
tests/file_checker_test_folders/compare_test_altered_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_sequence_duplication_levels_plot_1.txt
tests/file_checker_test_folders/compare_test_deleted_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Counts.txt
tests/file_checker_test_folders/compare_test_deleted_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Percentages.txt
tests/file_checker_test_folders/compare_test_deleted_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_quality_scores_plot_1.txt
tests/file_checker_test_folders/compare_test_deleted_file/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_sequence_duplication_levels_plot_1.txt
tests/file_checker_test_folders/compare_test_original/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Percentages.txt
tests/file_checker_test_folders/compare_test_true_copy/reports/NextSeq_PanHaemOnc_2022_32_multiqc_report_data/mqc_fastqc_per_sequence_gc_content_plot_Percentages.txt
